{% extends "base.html" %}
{% block title %}About Me - Ben Amuwo's Neurascape{% endblock %}
{% block content %}
<h1>About Me</h1>
<div class="about-me-photo">
        <img src="{{ url_for('static', filename='img/about_photo.jpg') }}" alt="Image of Sasaki Kojiro, Illustrated by Takehiko Inoue" class="profile-pic">
</div>
<div class="about-me">
    <p>
        A warm welcome to you, dear reader. On the off-chance we have yet to be acquainted, you can call me Ben.
        Even if we are acquainted, I don't want to take our level of familiarity for granted - please allow me the honour
        of formal introductions:<br><br>
        I'm Ben. Welcome to My Neurascape.<br><br>
        I'd like to organize the thoughts hereafter into three loose categories: Who, exactly, is Ben? What, really, is a <i>Neurascape</i>?
        Finally, what can you expect to see here?<br><br>
        The first question has always been the hardest for me to answer - not in the sense that I don't know who I am; rather, I find it
        difficult articulating that to other people. <i>Who am I?</i> Well, I would ask in return, <i>"Where would you like to start"?</i> For the
        purpose of this section, let's say I'm a person with a love for life, truth, and beauty. I also happen to have a childlike fascination
        with technology and the accelerating development of our digital world. I do a number of things that bring me joy, both IRL (fitness,
        scuba diving, quality time with friends and family, reading, art) and online (shitposting, lurking, building and tinkering).
        For those who are interested in learning more about me and who want to see me fumble through the process of introducing
        myself further, check out what would be <a href="#">my first real post</a> on the Neurascape.<br><br>
        Which brings us to a much more important question: What is the Neurascape?<br>
        The recently fabricated term is a portmanteau of the already pre-existing words "Neural" and "Landscape"; neural owes
        its form to the Greek word <b>νεῦρον</b>, meaning a sinew or a string of an instrument. Landscape, which in its modern form is
        derived from the Dutch term <b>landschap</b>, was used to refer to beautiful paintings of natural scenery (thank you for allowing me a
        bit of pretentious indulgence). By combining these two words, I hope to capture an elegant and exquisitely moving notion: that of the Scenery of One's Mind.
        <br><br>
        Thus, a Neurascape can be described as a mental garden, a cognitive playground, the place where one's true self frolics. There's even an element of
        escapism alluded to in the name, and aptly so - for a Neurascape may also refer to a sanctuary or a place of refuge. My Neurascape is all of the above.
        You are partaking in the living record of my journey through the stars and synapses. Welcome to my blog, journal, portfolio,
        shitpost condensator; my archive of self.
        <br><br>
        Last, but certainly not least, we arrive at the question of what you can expect to find in my Neurascape. Honestly, it's a work in
        progress. Right now, I've created spaces to share my thoughts, reflections, and writings via the posts you'll see populating the home
        page. I'm also hoping to treat this website as my only consistently active personal social media platform. Anything I'd previously
        think to share on social media will now find its way here - whether that be videos of my diving experiences, artwork, or fun photos
        visually documenting unique moments in life.<br><br>
        Finally, I'll hopefully be able to host some more interesting projects I'll be working on in the
        future. From there, the future possibilities really are endless. I'm currently working on a reading list to share my yearly
        catalogue of books and my reflections on them, as well as a similar list for shows and movies I've watched throughout the year. As my mind develops,
        so too will my interests; as my interests develop, so too will my Neurascape, thus closing the loop.
        <br><br>
        I'm honoured to share this with you. Thank you for your time, and thank you for engaging with me. The Universe lives through you.
    </p>
</div>
{% endblock %}