{% extends "base.html" %}
{% block title %}Home - Ben Amuwo's Neurascape{% endblock %}
{% block content %}
<header class="hero" role="banner">
  <div class="hero-content">
    <h1 class="hero-title">Welcome to the Neurascape</h1>
    <p class="hero-tagline">Mental Playground and Digital sanctuary of Ben Amuwo.</p>
    <a href="#posts" class="hero-btn">Start Exploring</a>
  </div>
</header>
{% if posts is none %}
  <p>No posts yet.</p>
{% else %}
  <section id="posts" class="posts">
      <!-- Posts will be loaded here by JS infinite scroll -->
  </section>
  <div id="loader" class="loader"></div>
{% endif %}
{% endblock %}