{% extends "base.html" %}
{% block title %}New Post - My Cosmic-Neural Blog{% endblock %}
{% block content %}
<h1>New Post</h1>
<form method="post" enctype="multipart/form-data" class="new-post-form">
    <label>Title: <input type="text" name="title" required></label><br>
    <label>Content:<br>
        <textarea name="content" rows="10" maxlength="20000" required></textarea>
    </label><br>
    <label>Image: <input type="file" name="image" accept="image/*"></label><br>
    <label>GitHub Link: <input type="url" name="github_link" placeholder="https://github.com/yourrepo"></label><br>
    <button type="submit">Post</button>
</form>
{% endblock %}