{% extends "base.html" %}
{% block title %}Photo Album - My Cosmic-Neural Blog{% endblock %}
{% block content %}
<h1>Photo Album</h1>
<div class="photo-grid">
    {% for photo in photos %}
    <div class="photo-card">
        {% if USING_SPACES %}
        <img src="{{ SPACES_URL }}/large/{{ photo.filename }}" alt="{{ photo.description }}">
        {% else %}
        <img src="{{ url_for('static', filename='images/large/' + photo.filename) }}" alt="{{ photo.description }}">
        {% endif %}
        <p>{{ photo.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}